{% extends "../base.html" %}
{% block content %}
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>About us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>MojoShop</h1> 
  <p>Libria me e madhe online ne shqiperi. Me ecperience shum vjecare ju ofrojme cilesi shpejtesi dhe sherbim me cilesi te larte. 
      Analiza matematikes Elida do me na ngel dhe nuk do te vazhdojme te ofrojme sherbim tone 
      Libria me e madhe online ne shqiperi. Me ecperience shum vjecare ju ofrojme cilesi shpejtesi dhe sherbim me cilesi te larte. 
      Analiza matematikes Elida do me na ngel dhe nuk do te vazhdojme te ofrojme sherbim tone 
      Libria me e madhe online ne shqiperi. Me ecperience shum vjecare ju ofrojme cilesi shpejtesi dhe sherbim me cilesi te larte. 
      Analiza matematikes Elida do me na ngel dhe nuk do te vazhdojme te ofrojme sherbim tone 
      Libria me e madhe online ne shqiperi. Me ecperience shum vjecare ju ofrojme cilesi shpejtesi dhe sherbim me cilesi te larte. 
      Analiza matematikes Elida do me na ngel dhe nuk do te vazhdojme te ofrojme sherbim tone 
  </p> 
</div>

</body>
{% endblock content %}